# Dependencies
node_modules/

# Environment variables (secrets)
.env

# Database files
database/*.db
data/
*.sqlite
*.sqlite3

# Uploaded images (if you store uploads locally)
public/uploads/

# Logs
logs/
*.log

# OS files
.DS_Store

# build / cache
dist/
build/